* {  
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: rgb(0, 62, 91);
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .15);
}
a, a:visited, a:hover, a:active {
    color: inherit;
}

body{
    background-color: rgb(209, 242, 245);
}
main {
    display: flex;
    justify-content:space-evenly;
    background-color: rgb(209, 242, 245);
    font-size: 0.8rem;
    font-style: cursive;
    text-align: center;
}
p, li {
    font-size: 1rem;
    text-align: justify;
    padding: 1em;
}

.imgHome {
    max-height: 300px;
    min-width: 400px;
    background-image: url(./Images/hockey_2.jpg);
    background-size: cover;
    
}
.imgContact {
    max-height: 300px;
    min-width: 400px;
    background-image: url(./Images/hockey_3.jpg);
    background-size: cover;
}
.imgAbout {
    max-height: 500px;
    min-width: 400px;
    background-image: url(./Images/hockey_1.jpg);
    background-size: cover;
}
.imgRules {
    max-height: 300px;
    min-width: 400px;
    background-image: url(./Images/image1.jpg);
    background-size: cover;
}
.imgGameInfo {
    max-height: 300px;
    min-width: 400px;
    background-image: url(./Images/image2.jpg);
    background-size: cover;
}
.containerImage {
    display: flex;
    justify-content:space-around;
    height: 200px;
}
.logo {
    position: absolute;
    display: inline-block;
    align-self: center;
    text-align: center;
    width: 100%;
}
.logoBanner {
    width: 200px;
    filter: drop-shadow(3px 5px 3px rgba(0, 0, 0, 0.885));
}
.iconContainer{
    display: flex;
    justify-content: left;
    background-color: rgb(130, 198, 203);
    padding: .3rem;
    }
.menuIcono {
    margin-left: .6em;
    height: 30px;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}
.menuIcono:hover {
    filter: brightness(8);
    transition: .3s;
}
.menu-container {
    position: absolute;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;    
    background-color: rgb(130, 198, 203);
    border-end-start-radius: 1.5em;
    border-end-end-radius: 1.5em;
}
.menu-item {
    display: block;
    padding: .7em;
    color: rgb(216, 253, 254);
    text-align: center;
}
.openMe {
    visibility: hidden;
    position: relative;
    display: none;
    width: 1em;
    background-color: rgb(0, 154, 165);
}

#openMe:checked~.menu-container{
    max-height: 400px;

}
.menu-item:hover, 
.menu-item:focus {
    color: rgb(255, 255, 255);

}
.bottom {
    text-shadow: 1px 1px 1px rgba(0, 43, 80, 0.563);
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-color: none;
}

footer {
    height: 2.5rem;
    background-color: rgb(130, 198, 203);
}
.content {
    width: 100%;
    min-height: 300px;
    min-width: 200px;
}

.content h2{
    padding: .3em;
    font-size: 1.4rem;
    font-style: cursive;
    text-align: center;
    background-color: rgba(242, 254, 185, 0.786);
}
.content h3 {
    font-size: 1.4rem;
    font-style: cursive;
    text-align: center;
}
.content h4 {
    font-size: 1.2rem;
    font-style: cursive;
    text-align: center;
}
.content label, .content button{
    display: flex;
}
.content button {
    margin-top: .8em;
    margin-bottom: .8em;
}
.content input  {
    display: inline-block;
    padding: .2em;
}
content strong {
    display: inline-block;
    flex-basis: content;
    font-weight: 300;
}
table {
    margin-left: auto;
    margin-right: auto;

}
table *{
    vertical-align: middle;
    text-align: center;
}

table td {
    height: 1.5rem;
    width: 10rem;
}
form legend {
    padding: .4em;
    font-weight: bolder;

}
form {
    display: flex;
    flex-wrap: wrap;
}
form fieldset {
    align-items: center;
    margin: 1rem;
    
    border: 2px solid rgb(0, 62, 91);
    border-radius: 7px;
}

form fieldset span, form fieldset {
    display: flex;
    flex-wrap: wrap;
    padding: .2em;
    
    font-weight: bolder;
    margin: auto;
    
}
form fieldset span * {
    align-items: center;
    display: flex;
    padding: .1em;
}

.signature {
    position: relative;
    margin-right: .4rem;
    
}
form button {
    border-radius: 1rem;
    border: 3px solid rgb(0, 62, 91);
    font-weight: bold;
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(242, 254, 185, 0.786);
    
    transition: .4s;
}
form button:hover {
    
    border-radius: 0rem;
    font-weight: bold;
    background-color: beige;
    color: black;
}
.mapsLocate {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;

}
.mapsLocate >div {
    padding: .5em;
    width: auto;
}